#page-size
{
	width: 1440px;
	padding-left: 50px;
	padding-right: 50px;
	margin: auto;
}

body
{
	width: auto;
	font-family: 'Raleway', sans-serif;
}

a
{
	text-decoration: none;
	color: black;
}


{
	border: 1px solid black;
}

/* HEADER */

header
{
	display: flex;
}

#logo-reservia
{
	margin-top: 45px;
	flex-grow: 6;
}

header nav
{
	flex-grow: 2;
}

header nav ul
{
	margin: 0;
}

header nav ul
{
	display: flex;
	list-style-type: none;
	padding-left: 0;
}

header nav li
{
	width: 50%;
}

header nav a:hover
{
	color: #0065FC;
	border-top: 2px solid #0065FC;
}

header nav a
{
	display: block;
	text-align: center;
	padding-top: 60px;
	margin-right: 20px;
	border-top: 2px solid white;
}

#btn-inscription
{
	margin: 60px 0 0 0;
	flex-grow: 1;
	text-align: center;
	font-weight: bold;
}

#btn-inscription a
{
	color: #0065FC;
}



