

/*************************************************************************/
/*************************************************************************/
/**************************** GLOBAL SETTINGS ****************************/
/*************************************************************************/
/*************************************************************************/


body
{
	width: 1440px;
	margin: auto;
	font-family: 'Raleway', sans-serif;
}

#page-size
{
	width: 93%;
	margin: auto;
}

a
{
	text-decoration: none;
	color: black;
}

h1
{
	font-size: 1.42em;
	margin-bottom: -8px;
}

h2
{
	font-weight: 600;
	font-size: 1.4em;
	margin-bottom: 30px;
}

h3
{
	margin-right: 30px;
	font-size: 1em;
}

p
{
	font-size: 1.05em;
}

.hebergement-card, .populaire-card, .activity-card
{
	box-shadow: 0 0 10px 0.5px #a0a0a0;
	transition: box-shadow 300ms;
}

.hebergement-card:hover, .populaire-card:hover, .activity-card:hover
{
	box-shadow: 0 0 10px 0.5px #DEEBFF;
}



/*************************************************************************/
/*************************************************************************/
/******************************** HEADER *********************************/
/*************************************************************************/
/*************************************************************************/



.header
{
	display: flex;
}

.logo-reservia
{
	margin-top: 35px;
	margin-bottom: 5px;
	flex-grow: 12;
}

.navigation
{
	flex-grow: 2;
}

.navigation__list
{
	margin: 0;
	display: flex;
	list-style-type: none;
	padding-left: 0;
}

.navigation__puces
{
	width: 50%;
}

.header__link:hover
{
	color: #0065FC;
	border-top: 2px solid #0065FC;
}

.header__link
{
	display: block;
	text-align: center;
	padding-top: 50px;
	border-top: 2px solid white;
}

#sign-in
{
	flex-grow: 1;
	text-align: center;
	font-weight: bold;
}

#sign-in .header__link
{
	color: #0065FC;
	display: block;
	padding: 50px 0 0 0;
}



/*************************************************************************/
/*************************************************************************/
/**************************** SEARCH SECTION *****************************/
/*************************************************************************/
/*************************************************************************/


.search__bar
{
	display: flex;
	margin-top: 20px;
}

.search__gps
{
	background-color: #F2F2F2;
	text-align: center;
	padding-top: 16px;
	height: 34px;
	width: 50px;
	border-radius: 15px 0 0 15px;
	border: 2px solid #f1f2f2;
	transition: all 300ms;
}

.search__form
{
	position: relative;
}

.search__area, .search__btn
{
	height: 50px;
	border: 1px solid #f2f2f2;
}

.search__area
{
	width: 225px;
	padding-left: 15px;
	font-weight: bold;
	font-size: 1.2em;
}

.search__btn
{
	height: 55px;
	width: 134px;
	border-radius: 0 15px 15px 0;
	margin-left: -5px;
	font-size: 1.1em;
	font-weight: bold;
	border: 2px solid #0065FC;
	background-color: #0165FC;
	color: white;
	transition: all 300ms;
}

.search__btn:hover, .search__gps:hover
{
	color: #0165FC;
	background-color: #fff;
	border: 2px solid #0065FC;
}

.search-icon-xs-screen
{
	display: none;
}


/*************************************************************************/
/*************************************************************************/
/**************************** FILTERS SECTION ****************************/
/*************************************************************************/
/*************************************************************************/



.filters
{
	display: flex;
	margin-top: 30px;
}

.filters__grid
{
	display: flex;
	flex-wrap: wrap;
}

.filters__btn
{
	display: flex;
	margin-bottom: 10px;
}

.filters__heading
{
	margin-right: 30px;
	font-size: 1em;
	margin-top: 16px;
}

.filters__icon
{
	text-align: center;
	width: 52px;
	height: 34px;
	background-color: #DEEBFF;
	border-radius: 50%;
	padding-top: 18px;
	margin-top: -2px;
	margin-left: -4px;
	color: #0065FC;
}

.filters__btn 
{
	border: 2px solid #d9d9d9;
	border-radius: 50px;
	height: 48px;
	padding-right: 20px;
	margin-right: 24px;
	transition: all 300ms;
}

.filters__btn:hover
{
	border-color: #0065FC;
	color: #0065FC;
}

.filters__txt
{
	margin-left: 13px;
	font-weight: bold;
	margin-top: 14px;
}


/*************************************************************************/
/*************************************************************************/
/********************************* INFOS *********************************/
/*************************************************************************/
/*************************************************************************/



.info
{
	display: flex;
	align-items: center;
}

.info__txt
{
	margin-left: 10px;
}

.info__icon
{
	display: block;
	color: #0065FC;
	border: 1px solid #f2f2f2;
	font-size: 0.7em;
	border-radius: 50%;
	height: 12px;
	padding: 6px 10px 6px 10px;
}



/*************************************************************************/
/*************************************************************************/
/************************** HEBERGEMENT SECTION **************************/
/*************************************************************************/
/*************************************************************************/



.two-blocks
{
	display: flex;
}

.hebergements
{
	flex: 2;
	background-color: #f2f2f2;
	border-radius: 30px;
	padding: 25px 40px 40px 40px;
	margin-top: 15px;
	margin-right: 40px;
}

.hebergement__mosaique
{
	display: flex;
	flex-wrap: wrap;
	grid-gap: 30px;
	margin-bottom: 45px;
}

.hebergement-card
{
	display: block;
	background-color: white;
	width: 240px;
	height: 200px;
	border-radius: 20px;
	position: relative;
}

.hebergement-card__img
{
	width: 96%;
	border-radius: 17px 17px 0 0;
	margin: 2% 2% 0 2%;
	object-fit: cover;
	height: 114px;
}

.hebergement-card__heading
{
	margin-left: 15px;
	margin-top: 5px;
}

.hebergement-card__txt
{
	margin-left: 15px;
	margin-top: 0;
	line-height: 0;
	font-size: 0.9em;
}

.hebergement-card__txt--bold
{
	font-weight: bold;
}

.hebergement-card__stars
{
	position: absolute;
	bottom: 5px;
	left: 14px;
	color: #0065FC;
}

.hebergement-card__icon, .populaire-card__icon
{
	font-size: 0.75em;
	margin-top: 3px;
	margin-right: -1px;
}

.hebergement-card__star
{
	font-size: 0.75em;
	margin-right: -3px;
}

.hebergement-card__star--grey
{
	color: #d9d9d9;
}

.hebergements__link
{
	font-weight: bold;
	font-size: 1.2em;
}

.hebergements__link:hover
{
	color: #0065FC;
}



/*************************************************************************/
/*************************************************************************/
/**************************** POPULAR SECTION ****************************/
/*************************************************************************/
/*************************************************************************/



.populaires
{
	flex: 1;
	background-color: #f2f2f2;
	border-radius: 30px;
	padding: 25px 0 0 40px;
	margin-top: 15px;
}

.populaires__heading
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: -10px;
	margin-right: 40px;
}

.populaires__icon
{
	font-size: 1.3em;
}

.populaires__icon:hover
{
	color: #0065FC;
}

.populaire-card
{
	display: block;
	display: flex;
	width: 90%;
	height: 144px;
	background-color: white;
	margin: 15px 0 30px 0;
	border-radius: 20px;
	position: relative;
}

.populaire-card__img
{
	width: 125px;
	height: 93%;
	margin: 1.5% 20px 1.5% 1.5%;
	object-fit: cover;
	border-radius: 17px 0 0 17px;
}

.populaire-card__txt
{
	line-height: 0;
	font-size: 0.9em;
}

.populaire-card__stars
{
	position: absolute;
	bottom: 10px;
	left: 148px;
	color: #0065FC;
}

.populaire-card__star
{
	font-size: 0.75em;
	margin-right: -3px;
}

.populaire-card__star--grey
{
	color: #d9d9d9;
}





/*************************************************************************/
/*************************************************************************/
/************************** ACTIVITIES SECTION ***************************/
/*************************************************************************/
/*************************************************************************/



.activities
{
	margin-top: 50px;
}

.activities__mosaique
{
	display: flex;
	column-gap: 40px;
}

.activities__columns
{
	width: 25%;	
}

.activity-card
{
	display: block;
	background-color: white;
	border-radius: 30px;
	padding-bottom: 5px;
	margin-bottom: 40px;
}

.activity-card__heading
{
	margin-left: 20px;
	font-size: 0.95em;
}

.activity-card__img
{
	border-radius: 30px 30px 0 0;
	object-fit: cover;
	width: 100%;
	filter: brightness(90%);
	transition: filter 300ms;
}

.activity-card__img:hover
{
	filter: brightness(100%);
}

.activity-card__img--vieux-port, .activity-card__img--calanques
{
	height: 390px;
	object-position: 50% 50%;
}

.activity-card__img--pomegues
{
	height: 180px;
	object-position: 50% 40%;
}

.activity-card__img--frioul
{
	height: 110px;
	object-position: 0 20%;
}

.activity-card__img--garde
{
	height: 140px;
	object-position: 50% 0%;
}

.activity-card__img--longchamp
{
	object-position: 0% 0%;
	height: 150px;
}

/*************************************************************************/
/*************************************************************************/
/******************************** FOOTER *********************************/
/*************************************************************************/
/*************************************************************************/

.footer
{
	background-color: #f2f2f2;
	padding: 30px 0 40px 50px;
}

.footer__nav
{
	display: flex;
}

.footer__div
{
	flex-grow: 1;
}

.footer__list
{
	padding: 0;
	list-style-type: none;
}

.footer__puces
{
	margin-bottom: 10px;
}

.footer__puces:hover
{
	text-decoration: underline;
}

/*****************************************************************************************************/
/*****************************************************************************************************/
/***************************************** MEDIA QUERIS **********************************************/
/*****************************************************************************************************/
/*****************************************************************************************************/



@media all and (max-width: 1400px) and (min-width: 1024px)
{


	/******************* GLOBAL SETTINGS **********************/


	body
	{
		width: auto;
	}

	/***************** HEBERGEMENT SECTION ********************/

	.hebergements
	{
		width: auto;
	}

	.hebergement__mosaique
	{
		justify-content: space-between;
	}


	/******************* POPULAIRES SECTION *******************/

	.populaires
	{
		width: auto;
	}

	.populaire-card
	{
		flex-direction: column;
		background-color: white;
		width: 90%;
		height: 200px;
		border-radius: 20px;
		position: relative;
	}

	.populaire-card__img
	{
		width: 96%;
		border-radius: 17px 17px 0 0;
		margin: 2% 2% 0 2%;
		height: 114px;
	}

	.populaire-card__heading, .populaire-card__txt
	{
		margin-left: 15px;
	}

	.populaire-card__txt
	{
		margin-top: -5px;
	}

	.populaire-card__heading
	{
		margin-top: 5px;
		font-size: 0.9em;
	}

	.populaire-card__stars
	{
		left: 15px;
		bottom: 5px;
	}

}

@media all and (max-width: 1023px) and (min-width: 600px)
{

	/******************* GLOBAL SETTINGS *******************/


	body
	{
		width: auto;
	}

	.two-blocks
	{
		flex-direction: column;
	}


	/***************** HEBERGEMENT SECTION *****************/


	.hebergements
	{
		flex: 1;
		order: 2;
		width: 88.6%;
	}

	.hebergement__mosaique
	{
		justify-content: center;
	}

	.hebergement-card
	{
		width: 45%;
	}

	.hebergement-card__heading
	{
		margin-top: 0;
	}

	.hebergement-card__txt
	{
		margin-top: -7px;
	}


	/***************** POPULAIRES SECTION ******************/


	.populaires
	{
		width: auto;
		flex: 1;
		order: 1;
	}

	.populaire-card
	{
		background-color: white;
		width: 90%;
		border-radius: 20px;
		position: relative;
	}

	.populaire-card__img
	{
		height: 90.5%;
		margin: 1% 20px 1% 1%;
	}

	.populaire-card__heading
	{
		font-size: 1.3em;
	}


	.populaire-card__star
	{
		left: 150px;
	}



	/****************** ACTIVITIES SECTION ******************/



	.activities__mosaique
	{
		flex-wrap: wrap;
		justify-content: center;
	}

	.activities__columns
	{
		width: 46%;
	}
}

@media all and (max-width: 599px)
{


	/******************* GLOBAL SETTINGS *******************/



	body
	{
		width: auto;
	}

	#page-size
	{
		width: 90%;
	}

	p
	{
		font-size: 1em;
	}


	/*********************** HEADER ***********************/


	.header
	{
		flex-wrap: wrap;
	}

	.logo-reservia
	{
		width: 70%;
		margin-top: 20px;
	}

	.navigation
	{
		order: 3;
	}

	.navigation__list
	{
		margin-left: -5%;
		margin-right: -5%;
		padding-bottom: 10px;
	}

	.header__link
	{
		border-top: 0;
		border-bottom: 3px solid #f2f2f2;
		padding-bottom: 15px;
		padding-top: 25px;
	}

	.header__link:hover
	{
		border-bottom: 3px solid #0065FC;
		border-top: 0;
	}

	#sign-in .header__link
	{
		order: 2;
		border: 0;
		margin-top: -15px;
	}


	/***************** SEARCH SECTION *****************/



	.search__bar
	{
		width: 90%;
		margin-top: 30px;
	}

	.search__area
	{
		width: 95%;
		position: relative;
	}

	.search__btn
	{
		color: #0065FC;
		width: 54px;
		border-radius: 15px;
		position: absolute;
		top: 0;
		right: -40px;
	}

	.search-icon-xs-screen
	{
		display: block;
		position: absolute;
		top: 20px;
		right: -22px;
		color: white;
	}


	/***************** FILTERS SECTION *****************/



	.filters
	{
		flex-direction: column;
	}

	.filters__grid
	{
		margin-bottom: 10px;
	}

	.filters__btn
	{
		margin-right: 5px;
	}

	.two-blocks
	{
		flex-direction: column;
	}

	.filters__heading
	{
		font-size: 1.1em;
		margin-bottom: 15px;
		margin-top: 0;
	}


	/***************** HEBERGEMENT SECTION *****************/



	.hebergements
	{
		order: 2;
		background-color: white;
		padding: 0;
		margin-left: 0;
		margin-right: 0;
	}

	.hebergement-card
	{
		width: 100%;
		margin-bottom: -10px;
	}

	.hebergement-card__img
	{
		width: 97%;
		margin: 1.5% 1.5% 0 1.5%;
	}

	.hebergement-card__star
	{
		font-size: 0.7em;
		margin-right: -3px;
	}

	.hebergements__heading
	{
		margin-bottom: 20px;
		font-size: 1.4em;
	}


	/***************** POPULAIRES SECTION ******************/



	.populaires
	{
		order: 1;
		border-radius: 0;
		margin-left: -5%;
		margin-right: -5%;
		padding: 15px 0 45px 20px;
	}

	.populaires__heading
	{
		margin-right: 20px;
		margin-bottom: -15px;
		font-size: 0.95em;
	}

	.populaire-card__img
	{
		height: auto;
		margin: 1.5% 20px 1.5% 1.5%;
	}

	.populaire-card
	{
		width: 94%;
		margin-bottom: -5px;
	}

	.populaire-card__star
	{
		font-size: 0.7em;
		margin-right: -3px;
	}


	/****************** ACTIVITIES SECTION ******************/



	.activities__mosaique
	{
		flex-direction: column;
		margin-bottom: 20px;
	}

	.activities__columns
	{
		width: 100%;
	}

	.activity-card
	{
		margin-bottom: 25px;
	}

	.activity-card__img--vieux-port, 
	.activity-card__img--frioul, 
	.activity-card__img--pomegues, 
	.activity-card__img--calanques, 
	.activity-card__img--garde, 
	.activity-card__img--longchamp
	{
		height: 130px;
	}

	.activity-card__img--pomegues
	{
		object-position: 50% 43%;
	}

	.activity-card__img--vieux-port, .activity-card__img--calanques
	{
		object-position: 50% 20%;
	}

	.activity-card__img--garde
	{
		object-position: 50% 10%;
	}

	.activity-card__img--longchamp
	{
		object-position: 50% 25%;
	}

	/*********************** FOOTER ***********************/

	.footer__nav
	{
		flex-direction: column;
	}

	.footer
	{
		padding-left: 25px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
}









